body {
    font-family: Arial, sans-serif;
    background-image: url(fundo.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

.book {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #407e39;
    border: 1px solid #00ff04;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.page {
    margin: 20px 0;
}

h1 {
    font-size: 24px;
    color: #333;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
